.dp-plugin-imbo {
    border: 1px solid #000;
    margin: 10px 18px 10px 9px;
}

.dp-plugin-imbo img {
    max-width: 100%;
}

.dp-plugin-imbo .dp-article-image-title,
.dp-plugin-imbo .dp-article-image-description,
.dp-plugin-imbo .dp-article-image-description p,
.dp-plugin-imbo .dp-article-image-byline {
    line-height: 1.5em;
}

.dp-plugin-imbo .dp-article-image-title:empty {
    display: none;
}